name: Fetch headlines

on:
  push:
    branches:
      - main
  schedule:
    - cron: '*/5 * * * *'

jobs:
  fetch-headlines:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Fetch headlines
        env: # environment variables
          NEWS_API_ORG_API_KEY: ${{ secrets.NEWS_API_ORG_API_KEY }}
        run: |
          python get_headlines.py

      - name: Write headlines to file
        run: |
          echo "Writing headlines to file" > headlines.json
          cat headlines.json

      - name: Check in headlines
        uses: actions/upload-artifact@v2
        with:
          name: headlines.json
          path: headlines.json
